.header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header__logo img {
  width: 150px;
}

.header__search {
  background-color: #1c1c1e;
  flex: 1;
  border-radius: 50px;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: 0 2rem;
}

.header__search-icon {
  margin: 0.3rem 1rem;
}

.header__search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0.4rem;
  margin: 0rem 2rem 0rem 0rem;
  color: rgb(211, 211, 211);
  outline: none;
  font-size: 16px;
}

.header__items {
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.header__action {
  background-color: #1c1c1e;
  padding: 0.6rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1.5rem;
  object-fit: contain;
}
.header__action img {
  width: 25px;
}

.header__button {
  /* background-color: rgb(255, 0, 221); */
  background: linear-gradient(to right, rgb(255, 51, 228), rgb(255, 0, 221));
  padding: 0.8rem 3rem;
  font-size: 16px;
  border-radius: 50px;
  color: black;
  font-weight: 500;
}
